#header {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

#header img {
  width: 3rem;
  height: 3rem;
}
  h1 {
    font-family: monospace;

    margin: 0.5rem 0;
    font-size: 30px; 
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
  }
  #header hr {
    margin: 0.5rem 0;
  }
  