#result {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  border: none; 
}


#result table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  min-width: 650px;
  border: none; 
}

#result thead tr {
background: linear-gradient(to right, rgb(0, 106, 110), rgb(0, 111, 118));



}
#result th, 
#result td {
  border: none !important; 
  outline: none;
  box-shadow: none;
}

#result th {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  text-align: right;
  letter-spacing: 0.5px;
}

#result td {
  padding: 1rem;
  
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  
  
}

#result tbody tr:hover {
  background-color: rgba(203, 222, 222, 0.7);
  

}
#result tbody tr {
  color: #2d3748;
  background-color: rgb(203, 222, 222);
  

}

#result tbody tr td:first-child {
  
  background-color: rgb(158, 211, 205);
  font-weight: 600;
  text-align: center;

}

#result tbody tr:last-child td:first-child {
  background-color: #016369;
}

#result tbody tr:last-child {
  
background: linear-gradient(to right, rgb(0, 106, 110), rgb(0, 111, 118)) ;
  border-bottom: none;
  color: white !important ;
  font-weight: 600;
}


/* Media query for tablets and larger */
@media screen and (min-width: 768px) {
  #result {
    width: 45rem;
  }
  
  #result th {
    font-size: 0.85rem;
  }
  
  #result td {
    font-size: 1rem;
  }
}